/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.leaderboard {
    text-align: left;
    display: inline-block;
    border: 1px solid black;
    margin: 4.59rem 1rem 0rem 0rem;
    position: fixed;
    top: 0;
    right: 0;
    height: 30%;
    width: 20%;
    padding: 0px;
    z-index: 100;
}

.leaderboard-header {
    text-align: center;
    font-size: larger;
    background-color: lightgrey;
}

@media screen and (max-width: 1024px) {
    .leaderboard {
        display: none;
    }
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.text-input {
    
}

.search-button {
    background-color: white;
    padding: 2px 25px 2px 25px; 
    border-radius: 2px;
    border: 1px solid grey;
}

.search-button:hover {
    background-color: lightgray;
    transition: 0.3s;
    border-color: #4f4f4f;
}

.search-button:focus {
    border-color: black;
}

.close-button {
    position: absolute; 
    top: 0;
    right: 0;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem; 
    margin: 0px;  
}

.close-button:focus {
    background: none;
    border: none;
    outline: none;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.event-list {
    color: #fff;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Item placements
-------------------------------------------------- */
.container {
    height: 100%;
    width: 100%;
    position: relative; 
}

.gridbox {
    display: grid;
    gap: 5px 10px;
    grid-template-columns: repeat(3, 1fr);
    background-color: white; 
    margin: 10px 0px 10px 10px; 
    float: left;
    flex-grow: 1;
    padding: 0rem 0rem 4rem 0rem; 
}

@media screen and (max-width: 1024px) {
    .gridbox {
        grid-template-columns: repeat(2, 1fr);
    }
}

.grid-item-container {
    margin: 15px;
    height: 9em;
    background-color: aquamarine; /* Temporary color to display */
    flex-basis: 100%;
}

.upper-grid-item {
    text-align: center;
    height: 2em;
    background-color: blueviolet; /* Temporary color to display */
    padding: 3px; 
    font-size: larger;
}

.lower-grid-item {
    text-align: center;
    height: 7em;
    background-color: darkgreen; /* Temporary color to display */
    padding: 3px; 
}

.detail-view {
    margin: auto;
    text-align: left;
    display: inline-block;
    float: right;
    border: 1px solid black;
    inset: 0px;
    position: fixed; 
    top: 0; 
    left: 0;
    height: 50%;
    width: 40%;
    padding: 0px;
    visibility: hidden;
}