@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <input class="text-input" id="text-input" placeholder="Search for a swedish city"/>
    <button class="search-button" id="search-button">
        Search
    </button>
</div>
<div class="flexcontainer">
</div>

