@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <input class="text-input" id="text-input" placeholder="Search for a swedish city"/>
    <button class="search-button" id="search-button">
        Search
    </button>
</div>
<div class="flexcontainer">
    <div class="gridbox" id="gridbox">
        <div class="grid-item-container">
            <div class="upper-grid-item">upper</div>
            <div class="lower-grid-item">lower</div>
        </div>
        <div class="grid-item-container">
            <div class="upper-grid-item">upper</div>
            <div class="lower-grid-item">lower</div>
        </div>
        <div class="grid-item-container">
            <div class="upper-grid-item">upper</div>
            <div class="lower-grid-item">lower</div>
        </div>
        <div class="grid-item-container">
            <div class="upper-grid-item">upper</div>
            <div class="lower-grid-item">lower</div>
        </div>
    </div>
    <div class="detail-view">
        details
        <button class="close-button" aria-label="Close alert" type="button" data-close>
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

