@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<script type="text/javascript" src="~/js/ListEvent.js"></script>

<table class="leaderboard">
    <caption class="leaderboard-header">Leaderboard</caption>
    <thead>
        <tr>
            <th class="table-header">Type</th>
            <th class="table-header">Count</th>
        </tr>
    </thead>
    <tbody class="table-body">

    </tbody>
</table>

<div class="text-center">
    <input type="text" class="text-input" id="text-input" placeholder="Search for a swedish city"/>
    <button class="search-button" id="search-button" onclick="getEventsByLocation()">
        Search
    </button>
</div>
<div class="container">
    <div class="gridbox" id="gridbox">
    </div>
</div>

<div class="detail-view" id="detail-view">
    Details
    <button id="close-detail-button" class="close-detail-button" aria-label="Close alert" type="button" data-close onclick="closeDetails()">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="detail-view-child" id="detail-view-child">
        
    </div>
</div>


