@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <input class="text-input"/>
</div>
<div class="gridbox" id="gridbox">
    <div class="grid-item-container">
        <div class="upper-grid-item">
            upper
        </div>
        <div class="lower-grid-item">
            lower
        </div>
    </div>
    <div class="grid-item-container">
        <div class="upper-grid-item">
            upper
        </div>
        <div class="lower-grid-item">
            lower
        </div>
    </div>
    <div class="grid-item-container">
        <div class="upper-grid-item">
            upper
        </div>
        <div class="lower-grid-item">
            lower
        </div>
    </div>
</div>